main{padding: 10px;}
body{background: #f2f2f2;}
.btn-toolbar{display: block; text-align: center;}
#logout{color: rgba(255,255,255,.5); text-decoration: none;}
#logout:hover{color: white;}
#search{width: 100% ;}
#search>form{margin: 10%;}
#search>form>input{width: 100%; margin-bottom: 5px;}
#search>form>button{width: 98%; border-color: black; color: white;}
 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 @media (max-width: 575px) {
     #search>form>button{width: 100%;}
 }
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    #search{width: 350px}
    #search>form>button{width: 97%;}
}
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    margin-top: 10px;
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
